.sem-box-sizing {
	width: 300px;
	margin: 20px auto;
	border: 10px solid red;
	padding: 50px;
}
.com-box-sizing {
	box-sizing: border-box;
	width: 300px;
	margin: 20px auto;
	border: 10px solid blue;
	padding: 50px;
}
