* {
	box-sizing: border-box;
}
.sem-box-sizing,
.com-box-sizing {
	width: 300px;
	margin: 20px auto;
	padding: 50px;
}
.sem-box-sizing {
	border: 10px solid red;
}
.com-box-sizing {
	border: 10px solid blue;
}
